// 
// Variables
// 

// Override Bootstrap typography variables

@import url("../../assets/fonts/Inkfree.ttf");

$headings-font-family: "Ink Free", cursive;
$font-family-base: "Muli", sans-serif;

$headings-font-weight: 700;

$headings-color: $gray-800;

$h1-font-size: 6rem;
$h2-font-size: 3.5rem;
$h3-font-size: 2rem;
